asgiref==3.11.1
cairocffi==1.7.1
CairoSVG==2.8.2
cffi==2.0.0
cssselect2==0.9.0
defusedxml==0.7.1
Django==6.0.2
django-environ==0.13.0
dotenv==0.9.9
gunicorn==25.1.0
packaging==26.0
pillow==12.1.1
python-magic==0.4.27
psycopg2-binary==2.9.11
pycparser==3.0
python-dotenv==1.2.1
sqlparse==0.5.5
tinycss2==1.5.1
webencodings==0.5.1
whitenoise==6.11.0
